.deatilsArticle-Text {
        text-align: center;
        color: white;
        font-size: 3rem;
        font-family: Roboto;
        font-weight: 800;
        word-wrap: break-word;
        margin-bottom: 30px;
}

.text-article {
        margin-top: 20px;
}

.text-article h4 {
        font-size: 2rem;
        color: #fff;
}

.text-article p {
        width: 100%;
        font-size: 32px;
        font-weight: 300;
        line-height: 32px;
        color: #fff;
}

.circlee {

        overflow: hidden;
        display: flex;
        justify-content: space-between;
        position: absolute;
        width: 100%;
        top: 150px;
        z-index: -1;

}