.registration-form {
    width: 80%;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    align-items: start;
    justify-content: space-between;
}
.registration-form {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
}
.registration-form div {
    display: flex;
    flex-direction: column;
    width: 100%;

}
label {
    color: #fff !important;
    font-size: 20px;
    font-family: Mulish;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 30px;
    word-wrap: break-word;
    margin-right: 30px;
}
.registration-form div input,
.registration-form div select {
    margin-right: 20px;
    direction: rtl;
    font-size: 25px;
    padding: 50px;
    width: 90%;
    border-radius: 16px;
    border: 1px solid #ddd;
    height: 70px;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
}
select {
    color: #808080;
}
.registration-form div input:focus {
    outline: 1px solid rgba(0, 0, 255, 0.404);
}
input::placeholder {
    color: #808080;
    font-size: 20px;
    font-family: Mulish;
    font-weight: 400;
    text-transform: lowercase;
    word-wrap: break-word
}
.button-register {

    margin-top: 30px;
    width: 100%;
    display: flex;
    align-items: center;
}

.button-register button {
    text-align: center;
    width: 220px;
    height: 70px;
    border-radius: 16px;
    border: none;
    box-shadow: var(--shadow-set);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
    word-wrap: break-word;
    background: rgba(255, 153, 54, 1);
}

.button-register button:hover {
    background-color: rgba(228, 121, 15, 0.904);
}

.button-register p {
    margin-top: 20px;
    color: #808080;
    font-size: 20px;
    font-family: Mulish;
    font-weight: 400;
    text-transform: lowercase;
    word-wrap: break-word
}

.button-register p a {
    text-decoration: none;
    color: #FF9936;
    font-size: 20px;
    font-family: Mulish;
    font-weight: 600;
    text-transform: lowercase;
    word-wrap: break-word;
}

#profile-container {
    position: relative;
    text-align: center;
    margin-top: 20px;
    /* border: 1px solid red; */
}
#profile-image {
    /* border: 1px solid red; */
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
}
#choose-file-btn {
    font-size: 10px;
    /* height: 40px; */
    position: absolute;
bottom: 0;

    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    cursor: pointer;
    /* background-color: rgba(0, 0, 0, 0.7); */
    color: wheat;
    line-height: 30px;

}

#file-input {
    display: none;
}
